name: ci

on:
  push:
    branches:
      - main

jobs:
  build-test:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup Environment
        uses: ./.github/workflows/actions/setup-environment
      - name: Test Application
        if: github.ref_type != 'tag'
        uses: ./.github/workflows/actions/test-app
      - name: Create Release
        if: github.ref_type == 'tag'
        uses: ./.github/workflows/actions/release-app
  publish:
    if: github.ref_type == 'tag'
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts/builds
      - name: Publish Release
        uses: softprops/action-gh-release@v1
        with:
          files: artifacts/builds/*
